/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
/* libre-franklin-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/libre-franklin-regular.woff2') format('woff2');
}
/* libre-franklin-500 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/libre-franklin-500.woff2') format('woff2');
}
/* libre-franklin-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/libre-franklin-700.woff2') format('woff2');
}
/* libre-franklin-800 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/libre-franklin-800.woff2') format('woff2');
}
